node_modules/
.vscode/
dist/
flow-typed/npm/
*.lerna_backup
/coverage/
*.bak
/*.txt
_td_database/
_td_files/
/tdlib/
*.dylib
*.so
*.dll
compile_commands.json
.ccls
.clangd/
/.vim
npm-debug.log*
yarn-debug.log*
yarn-error.log*
