*.flow linguist-language=JavaScript
*.h linguist-language=C++
*.snap linguist-generated=true
*.shot linguist-generated=true
tdlib-types.d.ts linguist-vendored=true
flow-typed/*.js linguist-vendored=true
