*.flow linguist-language=JavaScript
*.h linguist-language=C++
*.snap linguist-generated=true
*.shot linguist-generated=true
tdlib-types.d.ts linguist-generated=true
flow-typed/*.js linguist-generated=true
examples/*.js linguist-vendored=true
examples/*.ts linguist-vendored=true
