*.flow linguist-language=TypeScript linguist-detectable=false
src/**/*.js linguist-language=TypeScript linguist-detectable=false
flow/**/*.js linguist-language=TypeScript linguist-detectable=false
flow-typed/**/*.js linguist-language=TypeScript linguist-detectable=false
types/**/*.js linguist-language=TypeScript linguist-detectable=false

types/tdlib.js linguist-generated=true
types/tdlib.ts linguist-generated=true

index.d.ts linguist-detectable=false
tests/**/*.ts linguist-detectable=false

*.sh linguist-detectable=false
